Windows/VisualStudio/.vs/
Windows/VisualStudio/Build-*/
Windows/VisualStudio/ironwail.vcxproj.user
Quake/*.o
Quake/*.d
Quake/*.res
Quake/*.exe
Quake/ironwail
build/
/.vs
/out/
update_submodule.txt
*.sav
*.txt
*.json
*.cache
/Windows/VisualStudio
/Quake - Copy
/tests
